@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #212529;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #ffffff;
  color: #212529;
  font-family: Arial, Helvetica, sans-serif;
}

/* モバイルとデスクトップでフォームサイズを調整 */
@media (min-width: 768px) {
  .md-size-normal {
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
  }
}
